<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
  </head>

  <body style="margin: 0">
    <div
      id="p5"
      style="
        overflow: hidden;
        position: relative;
        background-color: white;
        width: 909px;
        height: 1286px;
      "
    >
      <!-- Begin shared CSS values -->
      <style class="shared-css" type="text/css">
        .t {
          transform-origin: bottom left;
          z-index: 2;
          position: absolute;
          white-space: nowrap;
          overflow: visible;
          line-height: 1.5;
        }
        .text-container {
          white-space: nowrap;
        }
        @supports (-webkit-touch-callout: none) {
          .text-container {
            white-space: normal;
          }
        }
      </style>
      <!-- End shared CSS values -->

      <!-- Begin inline CSS -->
      <style type="text/css">
        #t1_5 {
          left: 136px;
          bottom: 1127px;
          letter-spacing: -0.78px;
        }
        #t2_5 {
          left: 223px;
          bottom: 1128px;
          letter-spacing: -0.69px;
        }
        #t3_5 {
          left: 107px;
          bottom: 1125px;
        }
        #t4_5 {
          left: 173px;
          bottom: 1054px;
          letter-spacing: -0.35px;
        }
        #t5_5 {
          left: 153px;
          bottom: 1054px;
        }

        .s0_5 {
          font-size: 23px;
          font-family: AppleSDGothicNeoR00_6k;
          color: #545454;
        }
        .s1_5 {
          font-size: 20px;
          font-family: AppleSDGothicNeoR00_6k;
          color: #545454;
        }
        .s2_5 {
          font-size: 26px;
          font-family: AdobeMyungjoStd-Medium_6p;
          color: #545454;
        }
        .s3_5 {
          font-size: 18px;
          font-family: AppleSDGothicNeoR00_6k;
          color: #545454;
        }
        .s4_5 {
          font-size: 18px;
          font-family: AppleSDGothicNeoR00_56;
          color: #545454;
        }
      </style>
      <!-- End inline CSS -->

      <!-- Begin embedded font definitions -->
      <style id="fonts5" type="text/css">
        @font-face {
          font-family: AdobeMyungjoStd-Medium_6p;
          src: url("<%= report_url %>/fonts/AdobeMyungjoStd-Medium_6p.woff")
            format("woff");
        }

        @font-face {
          font-family: AppleSDGothicNeoR00_56;
          src: url("<%= report_url %>/fonts/AppleSDGothicNeoR00_56.woff")
            format("woff");
        }

        @font-face {
          font-family: AppleSDGothicNeoR00_6k;
          src: url("<%= report_url %>/fonts/AppleSDGothicNeoR00_6k.woff")
            format("woff");
        }
      </style>
      <!-- End embedded font definitions -->

      <!-- Begin page background -->
      <div
        id="pg5Overlay"
        style="
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 1;
          background-color: rgba(0, 0, 0, 0);
          -webkit-user-select: none;
        "
      ></div>
      <div id="pg5" style="-webkit-user-select: none">
        <object
          width="909"
          height="1286"
          data="<%= report_url %>/5/5.svg"
          type="image/svg+xml"
          id="pdf5"
          style="
            width: 909px;
            height: 1286px;
            -moz-transform: scale(1);
            z-index: 0;
          "
        ></object>
      </div>
      <!-- End page background -->

      <!-- Begin text definitions (Positioned/styled in CSS) -->
      <div class="text-container">
        <span id="t1_5" class="t s0_5">성격 검사 </span
        ><span id="t2_5" class="t s1_5">(SOYES Personality Scale) </span
        ><span id="t3_5" class="t s2_5">Ⅱ </span>
        <span id="t4_5" class="t s3_5">우리아이의 성격 유형은? </span
        ><span id="t5_5" class="t s4_5">1 </span>

        <!--image clip-path="url(#c1_5)" preserveAspectRatio="none" x="247" y="296" width="417" height="584" xlink:href="img/2.png"/-->

        <!--image preserveAspectRatio="none" x="614" y="947" width="97" height="97" xlink:href="img/3.png"/>
<image preserveAspectRatio="none" x="201" y="947" width="97" height="97" xlink:href="img/4.png"/>
<image preserveAspectRatio="none" x="338" y="946" width="98" height="99" xlink:href="img/5.png"/>
<image preserveAspectRatio="none" x="476" y="947" width="97" height="97" xlink:href="img/6.png"/-->

        <img
          src="<%= report_url %>/5/img/<%= persnalResult %>.png"
          style="
            position: absolute;
            left: 250px;
            top: 275px;
            width: 417px;
            height: 584px;
          "
        />

        <img
          src="<%= report_url %>/5/img/2<%= result_first %>.png"
          style="
            position: absolute;
            left: 200px;
            top: 950px;
            width: 98px;
            height: 98px;
          "
        />
        <img
          src="<%= report_url %>/5/img/2<%= result_second %>.png"
          style="
            position: absolute;
            left: 350px;
            top: 950px;
            width: 98px;
            height: 98px;
          "
        />
        <img
          src="<%= report_url %>/5/img/2<%= result_third %>.png"
          style="
            position: absolute;
            left: 500px;
            top: 950px;
            width: 98px;
            height: 98px;
          "
        />
        <img
          src="<%= report_url %>/5/img/2<%= result_fourth %>.png"
          style="
            position: absolute;
            left: 650px;
            top: 950px;
            width: 98px;
            height: 98px;
          "
        />
      </div>
      <!-- End text definitions -->
    </div>
  </body>
</html>
