<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
  </head>

  <body style="margin: 0">
    <div
      id="p6"
      style="
        overflow: hidden;
        position: relative;
        background-color: white;
        width: 909px;
        height: 1286px;
      "
    >
      <!-- Begin shared CSS values -->
      <style class="shared-css" type="text/css">
        .t {
          transform-origin: bottom left;
          z-index: 2;
          position: absolute;
          white-space: nowrap;
          overflow: visible;
          line-height: 1.5;
        }
        .t2 {
          transform-origin: top left;
          z-index: 2;
          position: absolute;
          white-space: normal;

          overflow: visible;
          line-height: 1.5;
        }
        .text-container {
          white-space: nowrap;
        }
        @supports (-webkit-touch-callout: none) {
          .text-container {
            white-space: normal;
          }
        }
      </style>
      <!-- End shared CSS values -->

      <!-- Begin inline CSS -->
      <style type="text/css">
        #id_1 {
          left: 360px;
          top: 200px;
          letter-spacing: -0.37px;
          width: 45%;
        }
        #id_2 {
          left: 360px;
          top: 450px;
          letter-spacing: -0.37px;
          width: 45%;
        }
        #id_3 {
          left: 360px;
          top: 700px;
          letter-spacing: -0.37px;
          width: 45%;
        }
        #id_4 {
          left: 360px;
          top: 950px;
          letter-spacing: -0.37px;
          width: 45%;
        }

        #t1_6 {
          left: 371px;
          bottom: 785px;
          letter-spacing: -0.37px;
        }
        #t2_6 {
          left: 371px;
          bottom: 759px;
          letter-spacing: -0.36px;
        }
        #t3_6 {
          left: 371px;
          bottom: 733px;
          letter-spacing: -0.38px;
        }
        #t4_6 {
          left: 371px;
          bottom: 707px;
          letter-spacing: -0.37px;
        }
        #t5_6 {
          left: 371px;
          bottom: 681px;
          letter-spacing: -0.36px;
        }
        #t6_6 {
          left: 371px;
          bottom: 1047px;
          letter-spacing: -0.36px;
        }
        #t7_6 {
          left: 371px;
          bottom: 1021px;
          letter-spacing: -0.36px;
        }
        #t8_6 {
          left: 371px;
          bottom: 995px;
          letter-spacing: -0.37px;
        }
        #t9_6 {
          left: 371px;
          bottom: 969px;
          letter-spacing: -0.37px;
        }
        #ta_6 {
          left: 371px;
          bottom: 943px;
          letter-spacing: -0.37px;
        }
        #tb_6 {
          left: 371px;
          bottom: 917px;
          letter-spacing: -0.36px;
        }
        #tc_6 {
          left: 343px;
          bottom: 554px;
          letter-spacing: -0.35px;
        }
        #td_6 {
          left: 343px;
          bottom: 528px;
          letter-spacing: -0.37px;
        }
        #te_6 {
          left: 343px;
          bottom: 502px;
          letter-spacing: -0.38px;
        }
        #tf_6 {
          left: 343px;
          bottom: 476px;
          letter-spacing: -0.36px;
        }
        #tg_6 {
          left: 343px;
          bottom: 450px;
          letter-spacing: -0.37px;
        }
        #th_6 {
          left: 343px;
          bottom: 424px;
          letter-spacing: -0.36px;
        }
        #ti_6 {
          left: 343px;
          bottom: 296px;
          letter-spacing: -0.37px;
        }
        #tj_6 {
          left: 343px;
          bottom: 270px;
          letter-spacing: -0.37px;
        }
        #tk_6 {
          left: 343px;
          bottom: 244px;
          letter-spacing: -0.37px;
        }
        #tl_6 {
          left: 343px;
          bottom: 218px;
          letter-spacing: -0.36px;
        }
        #tm_6 {
          left: 343px;
          bottom: 192px;
          letter-spacing: -0.37px;
        }
        #tn_6 {
          left: 173px;
          bottom: 1143px;
          letter-spacing: -0.36px;
        }
        #to_6 {
          left: 152px;
          bottom: 1143px;
        }

        .s0_6 {
          font-size: 18px;
          font-family: AppleSDGothicNeoR00_6k;
          color: #231f20;
        }
        .s1_6 {
          font-size: 18px;
          font-family: AppleSDGothicNeoR00_6k;
          color: #545454;
        }
        .s2_6 {
          font-size: 18px;
          font-family: AppleSDGothicNeoR00_56;
          color: #545454;
        }

        table {
          width: 70%; /* 테이블 너비 설정 */
          margin: 20px auto;
          border-collapse: collapse;
          border: 1px solid #ccc;
          font-size: 16px;
          color: #333;
          line-height: 1.5;
        }

        td {
          padding: 15px;
          border: 1px solid #ccc;
          background-color: #f9f9f9;
        }
      </style>
      <!-- End inline CSS -->

      <!-- Begin embedded font definitions -->
      <style id="fonts6" type="text/css">
        @font-face {
          font-family: AppleSDGothicNeoR00_56;
          src: url("<%= report_url %>/fonts/AppleSDGothicNeoR00_56.woff")
            format("woff");
        }

        @font-face {
          font-family: AppleSDGothicNeoR00_6k;
          src: url("<%= report_url %>/fonts/AppleSDGothicNeoR00_6k.woff")
            format("woff");
        }
      </style>
      <!-- End embedded font definitions -->

      <!-- Begin page background -->
      <div
        id="pg6Overlay"
        style="
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 1;
          background-color: rgba(0, 0, 0, 0);
          -webkit-user-select: none;
        "
      ></div>
      <div id="pg6" style="-webkit-user-select: none">
        <object
          width="909"
          height="1286"
          data="<%= report_url %>/6/6.svg"
          type="image/svg+xml"
          id="pdf6"
          style="
            width: 909px;
            height: 1286px;
            -moz-transform: scale(1);
            z-index: 0;
          "
        ></object>
      </div>
      <!-- End page background -->

      <!-- Begin text definitions (Positioned/styled in CSS) -->
      <div class="text-container">
        <img
          src="<%= report_url %>/6/img/<%= result_first %>.png"
          style="
            position: absolute;
            left: 150px;
            top: 200px;
            width: 133px;
            height: 186px;
          "
        />
        <img
          src="<%= report_url %>/6/img/<%= result_second %>.png"
          style="
            position: absolute;
            left: 150px;
            top: 445px;
            width: 133px;
            height: 186px;
          "
        />
        <img
          src="<%= report_url %>/6/img/<%= result_third %>.png"
          style="
            position: absolute;
            left: 150px;
            top: 690px;
            width: 133px;
            height: 186px;
          "
        />
        <img
          src="<%= report_url %>/6/img/<%= result_fourth %>.png"
          style="
            position: absolute;
            left: 150px;
            top: 935px;
            width: 133px;
            height: 186px;
          "
        />

        <span id="id_1" class="t2 s0_6"> <%= result_first_ment %> </span>
        <span id="id_2" class="t2 s0_6"> <%= result_second_ment %> </span>

        <span id="id_3" class="t2 s0_6"> <%= result_third_ment %> </span>
        <span id="id_4" class="t2 s0_6"> <%= result_fourth_ment %> </span>

        <span id="tn_6" class="t s1_6">세부 결과 내용 </span
        ><span id="to_6" class="t s2_6">2 </span>
      </div>
      <!-- End text definitions -->
    </div>
  </body>
</html>
